@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Press+Start+2P&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #770737;
    color: white;
    font-family: "Press Start 2P", system-ui;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.choose-insect-btn img {

}
